openapi: 3.0.3
info:
  title: Users Manager API
  version: 1.0.0

paths:
  /login:
    post:
      summary: User login.
      description: Validate e-mail and password and returns a JWT token.
      tags:
        - Auth
      
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: "123456"

      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjksImVtYWlsIjoiYW5kZXJzb25AZW1haWwuY29tIiwiaWF0IjoxNzYzOTEzNTM2LCJleHAiOjE3NjM5MTcxMzZ9.0hQsRntUmeFAmo-nlOU-nPYbtjKFT0v3L1ZoHlm9s90"
                      user:
                        $ref: '#/components/schemas/User'

        '400':
          description: Required fields missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missing_fields:
                  value:
                    success: false
                    error: "E-mail and password are required!"

        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_credentials:
                  value:
                    success: false
                    error: "Invalid credentials!"

        '403':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_password:
                  value:
                    success: false
                    error: "Invalid password!"

        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                user_not_found:
                  value:
                    success: false
                    error: "User not found :/"

  /users:
    get:
      summary: Get all users
      description: Return all users paginated
      tags:
        - User
      security:
        - BearerAuth: []

      parameters:
        - name: page
          in: query
          description: Current listing page
          required: false
          schema:
            type: integer
            example: 2
        
        - name: per_page
          in: query
          description: Number of records per page
          required: false
          schema:
            type: integer
            example: 3

      responses:
        '200':
          description: Users listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 2
                      per_page:
                        type: integer
                        example: 3
                      total_records:
                        type: integer
                        example: 28
                      total_pages:
                        type: integer
                        example: 10
                      users:
                        type: array
                        items:
                          $ref: '#/components/schemas/User'
                        example:
                          - id: 1
                            name: John
                            email: john@example.com
                            created_at: "2025-11-10 03:27:16"
                            updated_at: "2025-11-10 03:27:16"
                          - id: 2
                            name: Jane
                            email: jane@example.com
                            created_at: "2025-11-16 16:00:33"
                            updated_at: "2025-11-16 16:00:33"
                          - id: 3
                            name: Jesse
                            email: jesse@example.com
                            created_at: "2025-11-12 21:11:04"
                            updated_at: "2025-11-17 10:44:12"
                      links:
                        type: object
                        properties:
                          prev:
                            type: string
                            example: "/users/page=1&per_page=3"
                          next:
                            type: string
                            example: "/users/page=3&per_page=3"

    post:
      summary: Create user
      description: Create a new user using the provided data.
      tags:
        - User
      security:
        - BearerAuth: []
      
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
              properties:
                name:
                  type: string
                  example: John
                email:
                  type: string
                  format: email
                  example: john@example.com
                password:
                  type: string
                  format: password
                  example: "12345678"

      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/User'

        '400':
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missing_fields:
                  value:
                    success: false
                    error: "Name, e-mail and password are required!"
                invalid_email_format:
                  value:
                    success: false
                    error: "Invalid e-mail format!"

        '409':
          description: E-mail already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                email_already_registered:
                  value:
                    success: false
                    error: "E-mail already registered!"

  /users/{id}:
    get:
      summary: Get user by id
      description: Return a single user based on the provided ID.
      tags:
        - User
      security:
        - BearerAuth: []
      
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: integer
            example: 5
      
      responses:
        '200':
          description: Return user successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/User'

        '400':
          description: The provided ID is incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_id:
                  value:
                    success: false
                    error: Invalid ID!

        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                user_not_found:
                  value:
                    success: false
                    error: User not found :/

  /users/by-email:
    get:
      summary: Get user by e-mail
      description: Return a single user based on the provided e-mail
      tags:
        - User
      security:
        - BearerAuth: []
      
      parameters:
        - name: email
          in: query
          required: true
          description: User e-mail
          schema:
            type: string
            format: email
            example: john@example.com

      responses:
        '200':
          description: User returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/User'

        '400':
          description: E-mail not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_email:
                  value:
                    success: false
                    error: Invalid e-mail!

        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                user_not_found:
                  value:
                    success: false
                    error: User not found :/

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: John
        email:
          type: string
          format: email
          example: john@example.com
        created_at:
          type: string
          format: date-time
          example: "2025-11-10 03:27:16.453539"
        updated_at:
          type: string
          format: date-time
          example: "2025-11-16 16:00:30.945142"

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: "Unexpected error"

  securitySchemas:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT